@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@import "tailwindcss";

@theme {
  --color-primary_blue: #4a77ff;
  --color-primary_green: #00c696;
  --color-light_green: #bbf3d2;
  --color-nephritis: #e9f7ef;
  --color-lightest_green: #40e2e8;
  --color-primary_black: #1d1e26;
  --color-lighter_black: #344054;
  --color-lightest_black: #5e626f;
  --color-slight_light: #fbfbfb;
  --color-light_brand: #8bc4ff;
  --font-poppins: "Poppins", sans-serif;

  /* Animations */
  --animate-fadeInUp: fadeInUp 500ms ease-out forwards;
  --animate-fadeIn: fadeIn 500ms ease-out forwards;
  --animate-fadeInDelayed: fadeInDelayed 800ms ease-out forwards;

  @keyframes fadeInUp {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes fadeInDelayed {
    0% {
      opacity: 0;
    }
    62.5% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

.hum_btn_wrapper {
  @apply flex flex-col justify-center items-center md:hidden;
}

.hum_lines {
  @apply bg-white block transition-all duration-300 ease-out h-0.5 w-6 rounded-sm;
}

@media (max-width: 768px) {
  .sidebar {
    @apply absolute duration-300 ease-in-out bg-primary_blue top-[60px] max-lg:h-[calc(100vh-60px)] w-full max-w-[70%] flex-col max-md:gap-4 max-md:px-4 py-4 z-[10];
  }
}

.custom_border::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 129px;
  height: 2px;
  background-color: white;
}

.slick-list {
  padding: 0 50% 0 0 !important;
}

.slick-slide {
  margin-right: 8px !important;
}

.main_jumbotron {
  background: linear-gradient(
      90deg,
      rgba(38, 194, 185, 1) 0%,
      rgba(40, 139, 231, 1) 100%
    ),
    url("images/jubmbotron_background.jpg");
  background-blend-mode: normal;
  background-size: cover;
  background-position: center;
}
